/* Unique element*/
.form-search{
    margin-top:20px;
    justify-content: flex-end;
    margin-right: 5px;
}

.search-btn{
    width:22px;
    background-color: lightgrey;
    border:1px solid black;
}

.toggle-login{
    position: relative;
    z-index: 11;

}
.form-login{
    min-width: 195px;
    flex-direction: column;
    padding: 0.5rem 1rem;
    justify-content: center;
    z-index: 10;
}
.form-login-input{
    margin: 0.5rem 0;
}

.flex-all{
    display: flex;
}
.hidden{
    display: none;
}

@media screen and (min-width: 800px){
    
    .banner{
        min-height: 300px;
    }
    
    .flex-desk{
        display:flex;
    }
    .form-login{
        position: static;
        width: auto;
        justify-content: center;
        height: auto;
    }
}