/*colors*/

.color-primary-0 { color: #93D050 }	/* Main Primary color */
.color-primary-1 { color: #CFF3A8 }
.color-primary-2 { color: #B4E97B }
.color-primary-3 { color: #76B82F }
.color-primary-4 { color: #589416 }

.color-secondary-1-0 { color: #3C9B77 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #93D5BC }
.color-secondary-1-2 { color: #5FB594 }
.color-secondary-1-3 { color: #238A63 }
.color-secondary-1-4 { color: #106F4B }


.color-complement-0 { color: #C84D7B }	/* Main Complement color */
.color-complement-1 { color: #EEA5C0 }
.color-complement-2 { color: #E1769E }
.color-complement-3 { color: #B22D5E }
.color-complement-4 { color: #8F1542 }

.bg-primary-0 { background: #93D050 }	/* Main Primary color */
.bg-primary-1 { background: #CFF3A8 }
.bg-primary-2 { background: #B4E97B }
.bg-primary-3 { background: #76B82F }
.bg-primary-4 { background: #589416 }


/*Typografi*/
h1, h2, h3, h4, h5, h6, .menu-items{
    font-family: 'Dhurjati', sans-serif;
}
.menu-items{
    font-size: 1.2rem;
}

/*Layout */
.flex-all{
    display:flex;
    justify-content: space-between;
}
.vertical-center{
    align-items: center;
}
.vertical-bottom{
    align-items: flex-end;
}
.max-width-wrap{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}


/* MENU*/
.main-menu{
    position: relative;
    /* bottom: 5px; */
    
}
.burger-label{
    width: 30px;
    display: block;
    padding-top: 12px;
}
.burger{
    display: block;
    height: 3px;
    background: #8F1542;
    margin-bottom: 6px;
    transition: all 0.3s;

}
.burger-check{
    display: none;
}

.menu-items{
    list-style: none;
    padding: 0px;
    margin: 0;
    position: absolute;
    top: 29px;
    transform:scaleY(0);
    transform-origin: top;
    transition: all 0.3s;
    z-index: 2;
    background-color: white;
    cursor: pointer;
    position: static;
}
.menu-item a{
    color:#8F1542 ;
    text-decoration: none;
    padding: 7px;
}
.dm-nav1{
    list-style-type: none;
    padding: 0px;
}
.menu-item a.selected{
    text-decoration: underline;
}

.burger-check:checked ~ .menu-items{
    transform: scaleY(1);
}
.burger-check:checked ~ .burger-label .burger-2{
    display: none;
}
.burger-check:checked ~ .burger-label .burger-1{
    transform: rotate(45deg);
}
.burger-check:checked ~ .burger-label .burger-3{
    transform: rotate(-45deg);
    position: relative;
    top: -9px;
}
/*Youtube*/
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media screen and (min-width:700px){
    .burger-label{
        display: none;
    }
    .menu-items{
        display: block;
        position: static;
        transform: scaleY(1);
        display: flex; 
        min-width: 400px;
        justify-content: space-between;
        
    }
    .dm-nav1{
        display: flex;
    }
    
}